<center>
	<h2>Description</h2>
</center>


<center>
	<table border='2'>
		<tbody>
			<tr>
				<th>ref</th>
				<td>{{ club.ref }}</td>
			</tr>
			<tr>
				<th>CreatedAt</th>
				<td>{{ club.createdAt ? club.createdAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
		</tbody>
	</table>
</center>
